@import "_root";
#subheader__input-select {
    padding: 14px 20px;
    margin: 10px;
    border-radius: 5px;
    outline: 0px none;
    border: 0px none;
    background-color: $light_gray_1;
    color: #fff;
}
#subheader__date-select {
    padding: 5px;
    margin: 10px;
    border-radius: 5px;
    background-color: $light_gray_1;
    color: #fff;
    max-height: 30px;
}
#subheader__input-item {
    padding: 10px 15px;
    border-radius: 5px;
    border: 0px none;
    outline: 0px none;
    cursor: pointer;
    background-color: $light_gray_1;
    color: #fff;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    &:hover {
        background-color: $light_gray_2;
    }
}
input[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    color: transparent;
    background: transparent;
}

.subheader__input-span {
    width: 5px;
    height: 5px;
    display: block;
    border-radius: 100%;
    background-color: transparent;
    margin: 0 3px;
    &-free {
        background-color: #00fffc;
    }
    &-busy {
        background-color: #ff0000;
    }
    &-canceled {
        background-color: #ffea00;
    }
}

.main__btn {
    padding: 12px 72px;
    background: #5f6063;
    color: #fff;
    font-weight: 500;
    outline: 0px none;
    border: 0px none;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
    &:hover {
        background: $light_gray_2;
    }
    a {
        color: #fff;
    }
}

.main__btn-driver {
    background: $light_gray_3 !important;
}

.main__btn-short {
    padding: 12px 24px;
    background: #5f6063;
    color: #fff;
    font-weight: 500;
    outline: 0px none;
    border: 0px none;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
    &:hover {
        background: $light_gray_2;
    }
}

.main__input {
    padding: 10px 12px;
    background-color: #5f6063;
    color: #fff;
    border: 0px none;
    outline: 0px none;
    border-radius: 5px;
    text-align: right;
}

.main__btn-green {
    padding: 12px 48px;
    background: $dark_green;
    color: #fff;
    font-weight: 500;
    outline: 0px none;
    border: 0px none;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
    &:hover {
        background: $light_gray_2;
    }
}
.status-span {
    width: 5px;
    height: 5px;
    border-radius: 100%;
    display: block;
    margin: 0 4px;
    background-color: #fff;
}
.free {
    background-color: #00fffc;
}
.busy {
    background-color: #ff0000;
}

.status {
    display: flex;
    align-items: center;
}
