$light_gray: #393a3e;
$light_gray_1: #47484c;
$light_gray_2: #535357;
$light_gray_3: #747577;
$light_gray_4: #727375;
$light_gray_5: #5f6063;
$dark_gray: #2c2d31;
$dark_green: #2d3b42;
$dark_green_1: #26404b;
